{% extends "layout.html" %}
{% block title %}
    <title>about me</title>
{% endblock %}
{% block body %}
    <h1>Here is where I tell you about myself</h1>
    <ul>
        <li>computers are cool</li>
        <li>chinese food is delicious</li>
        <li>I was born in the philippines</li>
        <li>I work as a dishwasher</li>
    </ul>
    <p>If it's going to take some time, why waste it on just one thing?</p>
    <p>My dorm</p>
    <img src="https://i.imgur.com/wUoxFYl.jpg" width = 500px height = 300px>
    <p>I know my dorm looks like an absolute disaster already</p>
{% endblock %}
