{% extends "layout.html" %}
{% block title %}
    <title>Welcome</title>
{% endblock %}
{% block body %}
        <p>Here you will find some weird information and maybe take away something useful</p>
        <table>
            <tr>
                <td><a class = "goto" href = "/about">About me</a></td>
                <td><a class = "goto" href = "/interests">My interests</a></td>
                <td><a class = "goto" href = "/contact">Quick survey</a></td>
            </tr>
            <tr>
                <td>Find some info about me</td>
                <td>What I like about life</td>
                <td>Get involved!</td>
            </tr>
        </table>
{% endblock %}